* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
    text-decoration: none;
}

.heading {
    width: 100%;
    height: 70px;
    background-color: #EC715F;
    display: flex;
    justify-content: center;
}

.logo-nav {
    width: 1024px;
}

.logo {
    height: 70px;
    float: left;
}

.nav-list {
    float: right;
}

.nav-list-item {
    list-style: none;
    float: left;
    padding: 0 30px;
}

.nav-list-item-link {
    color: #FAFAFA;
    font-size: 16px;
    line-height: 70px;
}

.main-visual {
    height: 650px;
    background-image: url(img/mv.png);
    background-size: cover;
    background-position: center;
}

.main-visual-font {
    
    text-align: center;
    color: #FAFAFA;
}

.main-visual-title {
    font-size: 64px;
    padding: 200px 0 10px 0;
}

.main-visual-text {
    font-size: 20px;
}

.portfolio {
    background-color: #ECEFF1;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #000;
}

.portfolio-box {
    width: 920px;
}

.sub-title {
    font-size: 32px;
    position: relative;
    margin-top: 90px;
}

.sub-title::after {
    background-color: #EC715F;
    height: 3px;
    width: 70px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    display: block;
    bottom: -5;
    content: "";
    margin: 8px auto 0 auto;
}

.sub-text {
    font-size: 16px;
    margin: 30px 0;
}

.picture-item {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-picture {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 250px;
}

.picture-item > div:nth-child(1) {
    background-image: url(img/sketch.jpg);
    margin: 0 10px 10px 0;
}

.picture-item > div:nth-child(2) {
    background-image: url(img/websuku.png);
    margin: 0 10px 10px 0;
}

.picture-item > div:nth-child(3) {
    background-image: url(img/write.jpg);
    margin-bottom: 10px;
}

.picture-item > div:nth-child(4) {
    background-image: url(img/webcamp.png);
    margin-right: 10px;
}

.picture-item > div:nth-child(5) {
    background-image: url(img/talk.jpg);
    margin-right: 10px;
}

.picture-item > div:nth-child(6) {
    background-image: url(img/webcamp-mother.png);
    margin-bottom: 90px;
}

.feature {
    text-align: center;
    display: flex;
    justify-content: center;
    color: #000;
}

.feature-box {
    width: 980px;
    margin-bottom: 90px;
}

.feature-list {
    display: flex;
    justify-content: center;
}

.feature-item {
    width: 320px;
    height: auto;
}

.fa-solid {
    font-size: 60px;
}

.feature-title {
    font-size: 20px;
    margin: 10px 0;
}

.feature-text {
    font-size: 16px;
}

.feature-list > div:nth-child(2) {
    margin: 0 10px;
}

.profile {
    background-color: #ECEFF1;
    text-align: center;
    display: flex;
    justify-content: center;
}

.profile-box {
    width: 1024px;
}

.self-introduction {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

.profile-icon-box {
    width: 512px;
}

.profile-icon {
    width: 250px;
    height: 250px;
    /*画像を丸く切り抜ける*/
    border-radius: 100%;
    text-align: center;
}

.profile-text {
    width: 512px;
    text-align: left;
    color: #000;
}

.self-introduction-title {
    font-size: 20px;
    margin-bottom: 5px;
}

.self-introduction-text {
    font-size: 16px;
}

.text-bottom {
    margin-bottom: 20px;
}

.contact {
    text-align: center;
    display: flex;
    justify-content: center;
}

.contact-box {
    width: 800px;
    margin-bottom: 90px;
}

.contact-sns {
    display: flex;
    justify-content: center;
}

.mail-tel {
    width: 400px;
    display: flex;
    justify-content: center;
}

.mail-tel-box {
    text-align: left;
}

.contact-sns-title {
    font-size: 20px;
    margin-bottom: 5px;
}

.contact-sns-title-top {
    margin-top: 20px;
}

.mail-tel-link {
    text-decoration: underline;
    color: #000;
}

.sns {
    width: 400px;
    display: flex;
    justify-content: center;
}

.sns-box {
    text-align: left;
}

.sns-icon > i:nth-child(2) {
    margin: 0 20px;
}

.fa-brands {
    font-size: 50px;
}

footer {
    background-color: #EC715F;
    height: 60px;
}

.footer-text {
    font-size: 16px;
    color: #FAFAFA;
    text-align: center;
    line-height: 60px;
}