* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
    text-decoration: none;
}

.heading {
    width: 100%;
    height: 70px;
    background-color: #EC715F;
    display: flex;
    justify-content: center;
}

.logo-nav {
    width: 1024px;
}

.logo {
    height: 70px;
    float: left;
}

.drawer_hidden {
    display: none;
}

.nav-list {
    float: right;
}

.nav-list-item {
    list-style: none;
    float: left;
    padding: 0 30px;
}

.nav-list-item-link {
    color: #FAFAFA;
    font-size: 16px;
    line-height: 70px;
}

.main-visual {
    height: 650px;
    background-image: url(img/mv.png);
    background-size: cover;
    background-position: center;
}

.main-visual-font {
    text-align: center;
    color: #FAFAFA;
}

.main-visual-title {
    font-size: 64px;
    padding: 200px 0 10px 0;
}

.main-visual-text {
    font-size: 20px;
}

.portfolio {
    background-color: #ECEFF1;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #000;
}

.portfolio-box {
    width: 920px;
}

.sub-title {
    font-size: 32px;
    position: relative;
    margin: 90px 0 8px 0;
}

.sub-title::after {
    background-color: #EC715F;
    height: 3px;
    width: 70px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    display: block;
    bottom: -5;
    content: "";
}

.sub-text {
    font-size: 16px;
    margin: 30px 0;
}

.picture-item {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-picture {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 250px;
}

.picture-item > div:nth-child(1) {
    background-image: url(img/sketch.jpg);
    margin: 0 10px 10px 0;
}

.picture-item > div:nth-child(2) {
    background-image: url(img/websuku.png);
    margin: 0 10px 10px 0;
}

.picture-item > div:nth-child(3) {
    background-image: url(img/write.jpg);
    margin-bottom: 10px;
}

.picture-item > div:nth-child(4) {
    background-image: url(img/webcamp.png);
    margin-right: 10px;
}

.picture-item > div:nth-child(5) {
    background-image: url(img/talk.jpg);
    margin-right: 10px;
}

.picture-item > div:nth-child(6) {
    background-image: url(img/webcamp-mother.png);
    margin-bottom: 90px;
}

.feature {
    text-align: center;
    display: flex;
    justify-content: center;
    color: #000;
}

.feature-box {
    width: 980px;
    margin-bottom: 90px;
}

.feature-list {
    display: flex;
    justify-content: center;
}

.feature-item {
    width: 320px;
    height: auto;
}

.fa-solid {
    font-size: 60px;
}

.feature-title {
    font-size: 20px;
    margin: 10px 0;
}

.feature-text {
    font-size: 16px;
}

.feature-list > div:nth-child(2) {
    margin: 0 10px;
}

.profile {
    background-color: #ECEFF1;
    text-align: center;
    display: flex;
    justify-content: center;
}

.profile-box {
    width: 1024px;
}

.self-introduction {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

.profile-icon-box {
    width: 512px;
}

.profile-icon {
    width: 250px;
    height: 250px;
    /*画像を丸く切り抜ける*/
    border-radius: 100%;
    text-align: center;
}

.profile-text {
    width: 512px;
    text-align: left;
    color: #000;
}

.self-introduction-title {
    font-size: 20px;
    margin-bottom: 5px;
}

.self-introduction-text {
    font-size: 16px;
}

.text-bottom {
    margin-bottom: 20px;
}

.contact {
    text-align: center;
    display: flex;
    justify-content: center;
}

.contact-box {
    width: 800px;
    margin-bottom: 90px;
}

.contact-sns {
    display: flex;
    justify-content: center;
}

.mail-tel {
    width: 400px;
    display: flex;
    justify-content: center;
}

.mail-tel-box {
    text-align: left;
}

.contact-sns-title {
    font-size: 20px;
    margin-bottom: 5px;
}

.contact-sns-title-top {
    margin-top: 20px;
}

.mail-tel-link {
    text-decoration: underline;
    color: #000;
}

.sns {
    width: 400px;
    display: flex;
    justify-content: center;
}

.sns-box {
    text-align: left;
}

.sns-icon > i:nth-child(2) {
    margin: 0 20px;
}

.fa-brands {
    font-size: 50px;
}

footer {
    background-color: #EC715F;
    height: 60px;
}

.footer-text {
    font-size: 16px;
    color: #FAFAFA;
    text-align: center;
    line-height: 60px;
}

@media screen and (max-width:767px) {
    .heading {
        height: 50px;
    }
    
    .logo-nav {
        width: 90%;
    }
    
    .logo {
        height: 50px;
    }
    
    .drawer_open {
        display: flex;
        height: 40px;
        width: 40px;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 100;/* 重なり順を一番上にする */
        cursor: pointer;
        border: 1px solid #FFF;
        margin: 5px 0;
        float: right;
    }
    
    .drawer_open span,.drawer_open span:before,.drawer_open span:after {
        content: '';
        display: block;
        height: 3px;
        width: 30px;
        background: #FFF;
        transition: 0.5s;
        position: absolute;
    }
    
    .drawer_open span:before {
        bottom: 8px;
    }
    
    .drawer_open span:after {
        top: 8px;
    }
    
    .nav-list {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 99;
        background: #fff;
        transition: .5s;
    }
    
    #drawer_input:checked ~ .nav-list {
        left: 0;
    }
    
    .main-visual {
        background-image: url(img/code.png);
        height: 650px;
        display: flex;
        justify-content: center;
    }
    
    .main-visual-font {
        width: 90%;
    }
    
    .main-visual-title {
        font-size: 40px;
    }
    
    .main-visual-text {
        font-size: 18px;
    }
    
    .portfolio-box {
        width: 90%;
    }
    
    .picture-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .picture-item > div:nth-child(odd) {
        position: fixed;
        top: 0;
        left: 100%;
    }
    
    .picture-item > div:nth-child(even) {
        width: 300px;
        height: 250px;
        margin: 0;
    }
    
    .picture-item > div:nth-child(2) {
        margin-bottom: 10px;
    }
    
    .picture-item > div:nth-child(4) {
        margin-bottom: 10px;
    }
    
    .picture-item > div:nth-child(6) {
        margin-bottom: 90px;
    }
    
    .feature-box {
        width: 90%;
        margin-bottom: 80px;
    }
    
    .feature-list {
        display: block;
    }
    
    .feature-item {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .feature-list > div:nth-child(2) {
        margin: 0 0 10px 0;
    }
    
    .feature-text {
        text-align: left;
    }
    
    .profile-box {
        width: 90%;
    }
    
    .self-introduction {
        flex-direction: column;
    }
    
    .profile-icon-box {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .profile-text {
        width: 100%;
        text-align: center;
    }
    
    .contact-box {
        width: 90%;
    }
    
    .contact-sns {
        display: block;
    }
    
    .mail-tel {
        width: 100%;
    }
    
    .mail-tel-box {
        text-align: center;
    }
    
    .sns {
        width: 100%;
    }
    
    .sns-box {
        text-align: center;
    }
    
    .sns-icon > i:nth-child(2) {
        margin: 0 8px;
    }
    
    footer {
        height: 60px;
    }
}